<div class="row">
    <div class="col-lg-5">
        {{ form_errors(form) }}
        {{ form_row(form.username) }}
        {% if form.plainPassword is defined %}
            {{ form_row(form.plainPassword) }}
        {% endif %}
        {{ form_row(form.firstName) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.roles) }}
        <hr />
    </div>
</div>
