{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}
    <h1>Change Password</h1>
    <h2>{{ user.displayname }}</h2>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
        {{ form_row(form.plainPassword) }}
        <button class="btn btn-primary">Save</button>
        <a href="{{ path('admin_user_show', {'id': user.id}) }}" class="btn btn-link">Cancel</a>
    {{ form_end(form) }}
{% endblock %}
