{% extends 'base.html.twig' %}

{% block title %}Edit Contact{% endblock %}

{% block content %}
    <h1>Edit Contact</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ include('contact/_form.html.twig') }}
        <div class="row mt-4">
            <div class="col-12">
                <button class="btn btn-primary">Save</button>
                <a href="{{ path('contact_show', {'id': contact.id}) }}" class="btn btn-link">Cancel</a>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('contact_form') }}
{% endblock %}
