{% extends 'base.html.twig' %}

{% block title %}Organisation{% endblock %}

{% block content %}
    {{ include('organisation/_detail.html.twig') }}
    <div>
        <a href="{{ path('organisation_edit', {'id': organisation.id}) }}" class="btn btn-primary">Edit</a>
        {% if is_granted('ROLE_ADMIN') %}
            <span class="dropdown">
                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ path('organisation_delete', {'id': organisation.id}) }}">Delete Organisation</a>
                </div>
            </span>
        {% endif %}
        <a href="{{ path('organisation_index') }}" class="btn btn-link">Back</a>
    </div>
    <ul class="nav nav-tabs" id="contactTab" role="tablist" style="margin-top: 3rem; margin-bottom: 1rem">
        <li class="nav-item">
            <a class="nav-link active" id="contacts-tab" data-toggle="tab" href="#contacts" role="tab" aria-controls="contacts" aria-selected="true">Contacts</a>
        </li>
    </ul>
    <div class="tab-content" id="contactTabContent">
        <div class="tab-pane fade show active" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
            <contact-table :items="{{ contacts_json }}" show-link="{{ path('contact_show', {'id': '_id_', 'referrer': app.request.pathinfo}) }}"></contact-table>
        </div>
    </div>
{% endblock %}
