<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ project.id }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ project.type }}</td>
        </tr>
        <tr>
            <th>Property</th>
            <td>{{ project.property }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ project.title }}</td>
        </tr>
        <tr>
            <th>Active</th>
            <td>{{ project.active ? 'Yes' : 'No' }}</td>
        </tr>
    </tbody>
</table>