{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block content %}
    <h1>Project</h1>

    {{ include('project/_detail.html.twig') }}
    <div>
        <a href="{{ path('project_edit', {'id': project.id}) }}" class="btn btn-primary">Edit</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('project_delete', {'id': project.id}) }}" class="btn btn-danger">Delete</a>
        {% endif %}
        <a href="{{ path('project_index') }}" class="btn btn-link">Back</a>
    </div>
    <hr />
    <ul class="nav nav-pills" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tasks-tab" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks" aria-selected="true">Tasks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
            <task-table :items="{{ tasks_json }}"></task-table>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Test</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>

{% endblock %}
